.form-error {
  font-family: Poppins, sans-serif;
  color: red;
}

@media screen and (max-width: 2560px) {
  .form-error {
    font-size: calc(1rem * 2560 / 1920);
  }
}
@media screen and (max-width: 1920px) {
  .form-error {
    font-size: calc(1rem * 1920 / 1920);
  }
}
@media screen and (max-width: 1600px) {
  .form-error {
    font-size: calc(1rem * 1600 / 1920);
  }
}
@media screen and (max-width: 1440px) {
  .form-error {
    font-size: calc(1rem * 1440 / 1920);
  }
}
@media screen and (max-width: 1366px) {
  .form-error {
    font-size: calc(1rem * 1366 / 1920);
  }
}
@media screen and (max-width: 1280px) {
  .form-error {
    font-size: calc(1rem * 1280 / 1920);
  }
}
@media screen and (max-width: 1028px) {
  .form-error {
    font-size: calc(1rem * 1028 / 1920);
  }
}
@media screen and (max-width: 768px) {
  .form-error {
    font-size: calc(.75rem * 768 / 768);
  }
}
@media screen and (max-width: 640px) {
  .form-error {
    font-size: calc(.75rem * 640 / 768);
  }
}
@media screen and (max-width: 320px) {
  .form-error {
    font-size: calc(.75rem * 320 / 768);
  }
}
